/* Styling attributes. */

body {
  background-color: whitesmoke;
}

.maincontent {
  margin: 120px;
  border-style: double;
  border-width: 5px;
  border-color: black;
  background-color: white;
  overflow: auto;
}

.text {
  margin: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}

.table {
  margin: 15px;
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.equation {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 500px;
}

.bigbutton {
  font-size: 22px;
}

.splitter {
  margin-left: 20px;
  margin-right: 20px;
  color: black;
}
